http://dgdgddddff.com, http://www.dgdgddddff.com {
    redir https://{host}{uri} permanent
}
dgdgddddff.com, www.dgdgddddff.com {
    tls {
        protocols tls1.2 tls1.3
    }
    encode zstd gzip
    reverse_proxy http://localhost:3000
}